.todo-container {
  width: 100%;
  display: flex;
  color: black;
}

.side-list {
  width: 30%;
}

.todo-each {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.todo-each input[type="text"]:focus {
  border-width: 1px;
  background-color: #beab8f;
}

.todo-each span {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
  border-right: none;
  background-color: #beab8f;
  word-wrap: break-word;
  text-align: start;
  margin-top: 2px;
}

#drag {
  background-color: #948473;
}

#checkbox {
  width: 2%;
  display: flex;
  justify-content: center;
}

#status {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-right: none;
}

#span-mid-long {
  width: 100%;
  border-left: none;
}

#category {
  font-size: 18px;
  background-color: #b5a28d;
}

.buttons {
  width: 10%;
  border: 1px solid #fff;
  background-color: #948473;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

#edit-button {
  cursor: pointer;
  color: #3b3b3b;
  font-size: 16px;
  margin-right: 5px;
}

#edit-button:hover,
#edit-button:active {
  color: #fff;
}

#delete-button {
  cursor: pointer;
  color: #7b0707;
  font-size: 20px;
  margin-left: 5px;
}

#delete-button:hover,
#delete-button:active {
  color: #c40f0f;
}

@media only screen and (max-width: 1000px) {
  .side-list {
    max-width: 0%;
  }

  .todo-each {
    max-width: 100%;
  }

  .buttons {
    max-width: 100%;
  }
  .todo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #span-mid-long {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .todo-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    width: 80%;
    border-radius: 0px;
    margin: 0px;
    border-top: none;
  }
  .todo-each {
    margin-top: 5px;
    width: 80%;
  }
  #edit-button {
    font-size: 18px;
    padding: 3px;
  }
  #delete-button {
    font-size: 22px;
    padding: 3px;
  }
}

@media only screen and (max-width: 650px) {
  #status {
    width: 15%;
    font-size: 20px;
  }
  #span-mid-long {
    width: 90%;
  }
}
