body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: #ebe0d1;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.heading {
  flex: 5%;
  background-color: #948473;
  color: #ffff;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.add-todo {
  flex: 10%;
  background-color: #beab8f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-bottom: 3px dashed #fff;
  border-top: 3px dashed #fff;
}

.side {
  width: 10%;
  background-color: #948473;
}

.input-class {
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: start;

  word-break: break-word;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;

  align-items: center;
  justify-content: center;
}

.title label {
  font-size: 14px;
  margin-right: 10px;
}

.title input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid grey;
  word-break: break-word;

  height: 25px;
  width: 49%;
}

#add {
  background: #948473;
  border: 1px solid rgb(103, 102, 102);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;

  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px;
  line-height: 16%;
  min-height: 29px;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  padding: 0 30px;
}

#add:hover,
#add:active {
  background-color: #948473;
  background-position: 0 0;
  color: #fff;
  border: 1px solid #fff;
}

#add:active {
  opacity: 0.5;
}

.todo-list {
  flex: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin: 15px 0;
  word-break: break-word;
}

.organize {
  flex: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.filter-options select {
  background-color: #948473;
  border-radius: 5px;
  border: none;
  width: 6%;
  padding: 3px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}

#options {
  text-align: center;
  background-color: #b5a28e;
}

@media only screen and (max-width: 768px) {
  .side {
    display: none;
  }
  .input-class {
    width: 100%;
  }
  .title input {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .title input {
    width: 50%;
  }
  .title label {
    font-size: 12px;
  }
  #add {
    padding: 0 8px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 328px) {
  .title {
    flex-direction: column;
  }
  .add-todo {
    padding: 10px 0;
  }
  #add {
    width: 30%;
    border-radius: 5px;
    margin-top: 3px;
  }
  .title input {
    width: 70%;
    border-radius: 0px;
  }
  .title label {
    display: none;
  }
}
